@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

section {
  @apply flex flex-col px-[5%] sm:px-[10%] md:px-[15%] lg:px-[20%] relative min-h-screen;
}

h1 {
  @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl font-semibold;
}

h2 {
  @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-medium;
}

p {
  @apply text-base sm:text-lg lg:text-xl font-normal;
}

p span {
  @apply font-semibold text-dark;
}