/* Hamburger */
.navigation__hamburger {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}

.is-active .hamburger {
  translate: 2.5px -2.5px;
  rotate: 0.125turn;
}

.is-active .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}

.line {
  stroke-dasharray: 60 31 60 300;
}

.navigation__link {
  font-size: clamp(2rem, 8vmin, 6rem);
  padding: clamp(0.25em, 1vmin, 1em) clamp(1em, 15vmin, 10em);
}

.projectLink {
  @apply font-semibold py-2 px-[.75rem] border-2 rounded-md hover:bg-secondary dark:hover:bg-secondary transition-colors duration-300;
}

.flexDown {
  @apply flex flex-col justify-center gap-4;
}

.flexSide {
  @apply flex gap-4 justify-center;
}

.center {
  @apply flex justify-center items-center;
}

.downCenter {
  @apply flex flex-col justify-center items-center;
}

.square {
  @apply center h-12 w-12 lg:h-14 lg:w-14 rounded-2xl border-2 transition-colors duration-300;
}

.formInput {
  @apply block py-2.5 px-0 w-full bg-transparent border-0 border-b-2 border-dark appearance-none focus:outline-none focus:ring-0 focus:border-primary dark:focus:border-secondary;
}

.formLabel {
  @apply absolute duration-300 transform -translate-y-6 scale-75 top-3 origin-[0] peer-focus:text-primary dark:peer-focus:text-secondary peer-focus:font-medium peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6;
}

.formGroup {
  @apply relative text-dark dark:text-dark;
}
