/* Hamburger */
.navigation__hamburger {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}

.is-active .hamburger {
  translate: 2.5px -2.5px;
  rotate: 0.125turn;
}

.is-active .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}

.line {
  stroke-dasharray: 60 31 60 300;
}

.navigation__link {
  font-size: clamp(2rem, 8vmin, 6rem);
  padding: clamp(0.25em, 1vmin, 1em) clamp(1em, 15vmin, 10em);
}
